<!-- author ben lawson balawson@bu.edu -->
<head>
  <title>Friends!</title>
</head>
<body>
  <div class="title">
    <h1>Manage manage your friends</h1>
  </div>
  <div id="content">
    <form method="post" action="/friends">
      <label for="friend-email"
        >Add more friends by entering their email:</label
      >
      <input name="friend-email" type="text" placeholder="enter email" />
      <input type="submit" placeholder="Submit" />
    </form>

    <h4>These are youre current friends</h4>
  </div>
</body>
<a href="/">Home</a>
