<!-- author ben lawson balawson@bu.edu -->
<head>
  <title>album!</title>
</head>
<body>
  <div class="title">
    <h1>View Album</h1>
  </div>
  <div id="content">
    <ul>
      {%for photo in photos%}
      <li>
        {{photo[1]}}<br />
        <img
          src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'
        />
        <form method="post" action="/user_albums/{{album_id}}">
          <input type="hidden" name="picture_id" value="{{photo[2]}}" />
          <input type="submit" value="DELETE" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>
<a href="/">Home</a>
